<?xml version="1.0"?>
<!-- Paramètrage de la convention : copier et renommer ce fichier en config.xml -->
<config>
	<!-- Adresse de l'université -->
	<adresseUniversite>9, rue du Temple BP 10665 62030 ARRAS CEDEX</adresseUniversite>
	<!-- Nom de l'université -->
	<nomUniversite>Université d'Artois</nomUniversite>
	<!-- Logo de l'université : /!\ Doit se situer dans le sous-dossier images /!\ -->
	<logoUniversite>logo-header.png</logoUniversite>
	<!-- Logo supplémentaire si besoin /!\ Doit se situer dans le sous-dossier images /!\ -->
	<logoFacultatif>logoPres.jpg</logoFacultatif>
	<!-- Répertoire de stockage des logos des centres de gestion avec / , renseigne au moment du deploy-->
	<uploadFiles.logosCentre.path>${uploadFiles.logosCentre.path}/</uploadFiles.logosCentre.path>
</config>