@Blue1:    #2C7094; @Blue1Secondary: #155C82;
@Blue2:    #094667; @Blue2Secondary: #16587C;
@Yellow:   #f4d218;
@Red:      #DD3333;
@DarkGray: #252525;
@Black:    #000000;
@White:    #F9F9F9;
@Gray:     #A5A5A5;
@HalfBlack:rgba(0, 0, 0, 0.5);

@BackgroundColor: #E9E9E9;
@FontSize: 12px;
@FontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Utilisé pour la génération des utils .fontBlue1, .fontBlue2, etc...
@Colors: ~"Blue1"    @Blue1,
         ~"Blue2"    @Blue2,
         Yellow   @Yellow,
         Red      @Red,
         DarkGray @DarkGray,
         Black    @Black;


@TopbarPCHeight: 100px;
@TopbarPhoneHeight: 40px;
@TopbarTitleFontSize: 3.6rem;

@SidebarPCWidth: 300px;
@SidebarPhoneWidth: 280px;
@SidebarBackground: linear-gradient(to left, @Blue1Secondary 0%, @Blue1 9px);
@LogoBackground: linear-gradient(@Blue2Secondary 0%, @Blue2 100%);

@MainContentPCPadding: 10px 20px 20px 20px; // top right bottom left
@MainContentPhonePadding: 5px 10px 10px 10px; // top right bottom left
@MainPanelTitleFontSize: 2rem;
@MainPanelTitleFontColor: @Blue2;
@MainFontSize: 1.1rem;
@MainLinkFontColor: @Blue2;
@MainInputTextFocusColor: @Blue1;
@MainSelectRadioBackground: linear-gradient(@Blue1 0%, @Blue2Secondary 100%);
@MainSelectCheckboxBackground: linear-gradient(@Blue1 0%, @Blue2Secondary 100%);
@MainSelectLineHighlightBackground: linear-gradient(@Blue2Secondary 0%, @Blue2 100%);

@ButtonFontFamily: "Segoe UI", Verdana, Arial, sans-serif;
@ButtonColors: @Blue2;
@ButtonHoverColors: @Blue1;

@InputWidth: 320px;

@MediaTablet: 801px;
@MediaPhone: 600px;