@import "commun/variables";

#MAIN_CONTENT {
  margin: @TopbarPhoneHeight 0 0 0;
  padding: @MainContentPhonePadding;

  @media (min-width: @MediaTablet) {
    margin: 0 0 0 @SidebarPCWidth;
    padding: @MainContentPCPadding;
  }
  a {
    color: @MainLinkFontColor;
    text-decoration: none;
  }

  & > * {
    font-size: @MainFontSize;
  }

  .ui-panel {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;

    .ui-panel-titlebar {
      border: 0;
      margin: 0 0 20px 0;
      padding: 0;
      background: transparent;
      font-size: @MainPanelTitleFontSize;
      color: @MainPanelTitleFontColor;
      text-align: left;

      @media (min-width: @MediaTablet) {
        text-align: center;
      }
    }

    .ui-panel-content {
      border: 0;
      margin: 0;
      padding: 0;
      background: transparent;
    }
  }
}



.legendLabel {
  //margin-left: 10px;
  font-size: 0.8em;
  font-style: italic;

  & > * {
    font-size: 0.8em;
    font-style: italic;
  }

  & > i {
    font-size: 1.2em;
    font-style: normal;
    margin-right: 2px;
  }
}


.formUL {
  list-style: none;
  padding: 0;
  margin: 0;

  label {
    display: block;
    margin-bottom: 2px;
  }

  input, .ui-selectonemenu {
    width: 100%;
    box-sizing: border-box;

    @media (min-width: @MediaTablet) {
      width: @InputWidth;
    }
  }

  li {
    width: 100%;
    margin: 0 auto 15px auto;
    //margin-bottom: 15px;
    @media (min-width: @MediaTablet) {
      width: @InputWidth;
    }

    &.widthAuto {
      width: auto !important;
      input, .ui-selectonemenu {
        width: auto !important;
      }
    }
  }
}

.ui-inputfield.ui-inputtext {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid @Gray;
  border-radius: 0;

  &:focus {
    -webkit-box-shadow: 0px 0px 4px @MainInputTextFocusColor;
    -moz-box-shadow: 0px 0px 4px @MainInputTextFocusColor;
    box-shadow: 0px 0px 4px @MainInputTextFocusColor;
  }

  box-sizing: border-box;

  width: 100%;

  @media (min-width: @MediaTablet) {

  }
}

.ui-button {
  color: @ButtonColors;
  font-weight: 500;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 0;
  font-family: @ButtonFontFamily;

  &:hover {
    color: @ButtonHoverColors;
    font-weight: 500;
  }

  @media (min-width: @MediaTablet) {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.ui-selectonebutton {
  .ui-button {
    color: @ButtonColors;
    font-weight: 500;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 0;

    &:hover {
      color: @ButtonHoverColors;
      font-weight: 500;
    }
    &.ui-state-active {
      color: @White;
      &:hover {
        color: @White;
        font-weight: 500;
      }
      &.ui-state-active {
        background: @MainSelectCheckboxBackground;
      }
    }
    @media (min-width: @MediaTablet) {
      display: inline-block;
      width: auto;
      margin: 0;
      padding: 0;
    }
  }
  @media (min-width: @MediaTablet) {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.ui-selectonemenu {
  border-radius: 0;
  box-shadow: none;
  background: @White;
  border: 1px solid @Gray;

  .ui-selectonemenu-trigger {
    border-left: 1px solid @Gray;
  }

  .ui-selectonemenu-label, .ui-selectonemenu-trigger {
    border-radius: 0;
    box-shadow: none;
  }
  box-sizing: border-box;

  width: 100%;
}

.ui-selectoneradio .ui-radiobutton .ui-radiobutton-box.ui-state-active {
  background: @MainSelectRadioBackground;
}

.ui-chkbox .ui-chkbox-box {
  margin-right: 5px;

  &.ui-state-active {
    background: @MainSelectCheckboxBackground;
  }
}

.ui-state-highlight { /* en attendant de trouver mieux */
  background: @MainSelectLineHighlightBackground !important;
  color: @White !important;
  text-shadow: none !important;
}

.columns-2 {
  position: relative;
  & > .column {
    float: none;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;

    @media (min-width: @MediaTablet) {
      float: left;
      width: 50%;
    }
    @media (max-width: (@SidebarPCWidth + @InputWidth * 2 + extract(@MainContentPCPadding, 2) + extract(@MainContentPCPadding, 4) + 60px)) { // empecher interpolation des input dans les 2 columns
      float: none;
      width: 100%;
    }
  }
}

.ui-selectmanymenu {
  &.customPstage {
    li {
      width: auto !important;
    }
    input.ui-selectlistbox-filter {
      width: 100% !important;
      box-sizing: border-box;
    }
  }
}