@import "commun/variables";

#SIDEBAR {

  position: fixed;
  width: @SidebarPhoneWidth;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: -@SidebarPhoneWidth;
  top: @TopbarPhoneHeight;
  box-sizing: border-box;
  background: @SidebarBackground;
  z-index: 500;
  border: 0;
  -webkit-transition: transform 0.7s;
  -moz-transition: transform 0.7s;
  -ms-transition: transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;

  @media (min-width: @MediaTablet) {
    width: @SidebarPCWidth;
    left: 0;
    top: 0;
    -webkit-transition: transform 0s !important;
    -moz-transition: transform 0s !important;
    -ms-transition: transform 0s !important;
    -o-transition: transform 0s !important;
    transition: transform 0s !important;
    -webkit-transform: translateX(0%) !important;
    -moz-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    -o-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
  }

  #SIDEBAR_LOGO {
    display: none;

    @media (min-width: @MediaTablet) {
      display: block;
    }

    height: 100px;
    margin: 0;
    padding: 0;
    background: @LogoBackground;
    border-bottom: 1px solid @Blue2;

    img {
      height: 90px;
      padding: 5px 0;
      margin: 0 0 0 150px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  #SIDEBAR_MENU {
    height: auto;
    overflow: hidden;
    padding-top: 10px;

    .ui-button.customPstage {
      width: 100%;
      border: 0;
      background: transparent;
      box-sizing: border-box;
      padding: 0;
      height: 25px;
      color: @White;
      margin: 0 0 10px 0;
      text-align: left;
      font-weight: bold;
      font-family: @FontFamily;

      &:hover {
        font-weight: bold;
        & > * {
          text-shadow: 2px 2px 2px @Black;
        }
      }

      &:active > * {
        text-shadow: 2px 2px 2px @HalfBlack;
      }

      &.selected {
        background: @Blue2;
        border-radius: 0;
      }

      &:last-child {
        padding-left: 27px;
      }

      & > * {
        text-shadow: 2px 2px 2px @HalfBlack;
      }
    }

    .ui-panelmenu.customPstage {
      width: 100%;
      border: 0;
      background: transparent;
      box-sizing: border-box;
      margin: 0;
      padding: 0;

      .ui-panelmenu-header {
        border: 0;
        background: transparent;
        box-sizing: border-box;
        margin: 0 0 10px 0;
        height: 25px;

        *:first-child {
          background: transparent;
          font-family: FontAwesome;
          text-indent: 0;

          &:before {
            content: "\f054";
          }
        }

        &:hover > * {
          text-shadow: 2px 2px 2px @Black;
        }

        &:active > * {
          text-shadow: 2px 2px 2px @HalfBlack;
        }

        &.ui-state-active *:first-child:before {
          content: "\f078";
        }

        & > * {
          color: @White;
          text-shadow: 2px 2px 2px @HalfBlack;
        }

        a {
          line-height: 100%;
          padding-left: 27px;

          &:active {
            border: 0;
          }
        }
      }

      .ui-panelmenu-content {
        border: 0;
        margin: 0;
        padding: 0;
        background: transparent;

        .ui-menu-list {
          padding-left: 15px;
          margin-bottom: 10px;

          .ui-menuitem {
            margin: 0;
            padding: 0;

            & > .ui-menuitem-link {
              border: 0;
              line-height: 100%;

              & > * {
                color: @White;
                text-shadow: 2px 2px 2px @HalfBlack;
              }

              &.selected {
                background: @Blue2;
                border-radius: 0;
              }

              &:active > * {
                text-shadow: 2px 2px 2px @HalfBlack;
              }

              &:hover {
                background: transparent;
                border: 0;

                & > * {
                  text-shadow: 2px 2px 2px @Black;
                }
              }
            }
          }
        }
      }
    }
  }
}