<?xml version="1.0"?>
<!--/webapp/WEB-INF/web.xml The main configuration file of the application 
	for servlet installations. -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
	metadata-complete="true">
	<display-name>esup-pstage</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>/esup-pstage</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties
		</param-value>
	</context-param>
	
	<context-param>
		<description>
			The location of the main configuration file of the Spring
			framework.
		</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/properties/applicationContext.xml
		</param-value>
	</context-param>

	<context-param>
		<description>
			The location of the main configuration file of the JSF
			framework.
		</description>
		<param-name>javax.faces.CONFIG_FILES
		</param-name>
		<param-value>
			/WEB-INF/navigation-rules.xml
		</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML
		</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT
		</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT
		</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.AUTO_SCROLL
		</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.ADD_RESOURCE_CLASS
		</param-name>
		<param-value>
			org.apache.myfaces.renderkit.html.util.DefaultAddResource
		</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.CHECK_EXTENSIONS_FILTER
		</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.ERROR_HANDLER
		</param-name>
		<param-value>
			org.esupportail.commons.services.exceptionHandling.ExceptionHandler
		</param-value>
	</context-param>

	<context-param>
		<param-name>org.fckfaces.CUSTOM_CONFIGURATIONS_PATH
		</param-name>
		<param-value>/media/FCKeditor/custom-fckconfig.js
		</param-value>
	</context-param>

	<!--BEGIN-RICHFACES -->
	<!-- Plugging the skin into the project -->
	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>classic</param-value>
	</context-param>

	<!-- Making the RichFaces skin spread to standard HTML controls -->
	<context-param>
		<param-name>org.richfaces.enableControlSkinning
		</param-name>
		<param-value>true</param-value>
	</context-param>

	<!--END-RICHFACES -->

	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter
		</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://auth.univ-artois.fr/cas/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/stylesheets/cas/auth.xhtml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/stylesheets/stage/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas10TicketValidationFilter
		</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://auth.univ-artois.fr/cas</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CASLogout</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CASLogout</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- END CAS -->

	<servlet>
		<servlet-name>Resource Servlet</servlet-name>
		<servlet-class>org.richfaces.webapp.ResourceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resource Servlet</servlet-name>
		<url-pattern>/org.richfaces.resources/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
			The main servlet of the application. This class inherits
			from the MyFaces implementation and handles exceptions thrown for
			specific exception handling.
		</description>
		<display-name>Faces Servlet</display-name>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>
			javax.faces.webapp.FacesServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Download Servlet</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.DownloadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download Servlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getImageServlet</servlet-name>
		<servlet-class>org.esupportail.pstage.web.servlet.GetImageServlet
		</servlet-class>
		<init-param>
			<param-name>uploadLogoEntreprisePath</param-name>
			<param-value>${uploadFiles.logosEntreprise.path}</param-value>
		</init-param>
		<init-param>
			<param-name>uploadLogoCentrePath</param-name>
			<param-value>${uploadFiles.logosCentre.path}</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>getImageServlet</servlet-name>
		<url-pattern>*.image</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getFileServlet</servlet-name>
		<servlet-class>org.esupportail.pstage.web.servlet.GetFileServlet
		</servlet-class>
		<init-param>
			<param-name>uploadFilesPath</param-name>
			<param-value>${uploadFiles.offres.path}</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>getFileServlet</servlet-name>
		<url-pattern>*.file</url-pattern>
	</servlet-mapping>

	<filter>
		<description>
			This filter is needed to use some Tomahawk extentions.
		</description>
		<display-name>MyFacesExtensionsFilter</display-name>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
		<init-param>
			<description>
				The maximum size of uploaded files.
			</description>
			<param-name>maxFileSize</param-name>
			<param-value>20m</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>stylesheets/welcome.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
