<?xml version="1.0"?>
<!--/webapp/WEB-INF/web.xml The main configuration file of the application 
	for servlet installations. -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee"
	metadata-complete="true">
	<display-name>esup-pstage</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>/esup-pstage</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties
		</param-value>
	</context-param>

	<context-param>
		<description>
			The location of the main configuration file of the Spring
			framework.
		</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/properties/applicationContext.xml
		</param-value>
	</context-param>

	<context-param>
		<description>
			The location of the main configuration file of the JSF
			framework.
		</description>
		<param-name>javax.faces.CONFIG_FILES
		</param-name>
		<param-value>
			/WEB-INF/navigation-rules.xml
		</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML
		</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT
		</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT
		</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.AUTO_SCROLL
		</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.ADD_RESOURCE_CLASS
		</param-name>
		<param-value>
			org.apache.myfaces.renderkit.html.util.DefaultAddResource
		</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.CHECK_EXTENSIONS_FILTER
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- <context-param> -->
	<!-- <param-name>org.apache.myfaces.ERROR_HANDLING</param-name> -->
	<!-- <param-value>true</param-value> -->
	<!-- </context-param> -->
	<!-- <context-param> -->
	<!-- <param-name>org.apache.myfaces.ERROR_HANDLER -->
	<!-- </param-name> -->
	<!-- <param-value> -->
	<!-- org.esupportail.commons.services.exceptionHandling.ExceptionHandler -->
	<!-- </param-value> -->
	<!-- </context-param> -->

	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<!-- <context-param> -->
	<!-- <param-name>javax.faces.PROJECT_STAGE</param-name> -->
	<!-- <param-value>Production</param-value> -->
	<!-- </context-param> -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>


	<!--BEGIN CAS -->

	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>authenticationFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/stylesheets/cas/auth.xhtml</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/stylesheets/stage/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>ticketValidationFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- END CAS -->

	<servlet>
		<description>
			The main servlet of the application. This class inherits
			from the MyFaces implementation and handles exceptions thrown for
			specific exception handling.
		</description>
		<display-name>Faces Servlet</display-name>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>
			javax.faces.webapp.FacesServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Download Servlet</servlet-name>
		<servlet-class>
			org.esupportail.commons.web.servlet.DownloadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download Servlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getImageServlet</servlet-name>
		<servlet-class>org.esupportail.pstage.web.servlet.GetImageServlet
		</servlet-class>
		<init-param>
			<param-name>uploadLogoEntreprisePath</param-name>
			<param-value>C:/esup-pstage-files/logosEntreprise</param-value>
		</init-param>
		<init-param>
			<param-name>uploadLogoCentrePath</param-name>
			<param-value>C:/esup-pstage-files/logosCentre</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>getImageServlet</servlet-name>
		<url-pattern>*.image</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getFileServlet</servlet-name>
		<servlet-class>org.esupportail.pstage.web.servlet.GetFileServlet
		</servlet-class>
		<init-param>
			<param-name>uploadFilesPath</param-name>
			<param-value>C:/esup-pstage-files/offresEntreprise</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>getFileServlet</servlet-name>
		<url-pattern>*.file</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>primeFacesFileUploadFilter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter
		</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>primeFacesFileUploadFilter</filter-name>
	    <servlet-name>Faces Servlet</servlet-name>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<context-param>
		<param-name>org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<!--<param-value>delta</param-value>-->
<!-- 		<param-value>aristo</param-value> -->
		<!--<param-value>flick</param-value>-->
		<param-value>afterwork</param-value>
		<!--<param-value>delta</param-value>-->
	</context-param>

	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>welcome.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
