.fl-theme-app {
	min-width: 800px;
	
}

/* Body */
.fl-theme-app .app-body {
	margin: 0;
	padding: 0;
}


/*########  PAGINATOR ##########*/
.fl-theme-app .paginator {
	clear: both;
}

.fl-theme-app .paginator .itemsNumbers {
	float: left;
	padding: 5px;
	width: 22%;
}

.fl-theme-app .paginator .navigation {
	float: left;
	text-align: center;
	width: 55%;
	/*utilise dans le cas ou ce div serait vide : permet de conserver sa taille*/
	border: 1px solid transparent;
}

.fl-theme-app .paginator ul {
	padding: 2px;
}

.fl-theme-app .paginator li {
	display: inline;
	margin-left: 2px;
	margin-right: 2px;
	padding: 1px;
	border: 1px solid #a71817;
	z-index: 10;
}


/*##  Section BLOCK (DIV) ##*/ /*##  Section Sections ##*/
.fl-theme-app .section-header {
	margin-left: 30px;
}

