/*----------------------------------------
		Charte graphique
 
couleur primaire : rouge : #a71817

Couleur secondaire : gris #CCCCCC
declianison 1 : #666666 (plus fonce)
declinaison 2 : #b7b6b6 (fonce)
declianison 3 : #e6e6e6
declinaison 4 : #f9f9f9 (tres tres clair)
couleur tertiaire : orange : #f28d00
declianison 1 : #fff6eb (tres clair)

autres : preconiser declinaison a partir de la couleur secondaire.


--------------------------------------------------------------*/


/* 
------------------------------------
  Application specific CSS.
------------------------------------ 
 * uPortal is namespaced with "up", a class of the <body> tag.
 */ /* Page */
html {
}

/* Body */
.fl-theme-app {
	background: url("../../media/images/blankbac.png");
}
.fl-theme-app .app-body {
	
}



/* Content */
.fl-theme-app .app-content {
	
}

.fl-theme-app .section-smallTitle,
.fl-theme-app .app-content h2 {
	font-size: 1em;
	color: #a71817;
	font-weight: bold;
	font-style: italic;
	padding-left: 0.5em;
}

.fl-theme-app .section-header,
.fl-theme-app .app-content h1 {
	font-size: 1.4em;
	color: #f28d00;
	font-weight: bold;
}


/* form */
.fl-theme-app .app-form { /*margin: 0 0 0.5em; 
	padding: 0em;
	border: 1px solid #1374B1;*/
	
}

.fl-theme-app .form-input-field,
.fl-theme-app input[type="text"] {
	color: #000000;
	font-size: 1em;
	border: 1px solid #dedede;
}

/* msg */
.fl-theme-app .app-msg-infos { /*margin: 0 0 0.5em; 
	padding: 0em;
	border: 1px solid #0B610B;
	background-color: #A9F5A9;*/
	
}

.fl-theme-app .app-msg-infos h2 {
	color: #0B610B;
}

/* Footer */ /* infos */
.fl-theme-app .app-footer {
	color: #000000;
	font-size: 1em;
	text-align: center;
	padding-top: 2px;
	margin: 0;
}


/*########  PAGINATOR ##########*/
.fl-theme-app .paginator input {
	text-decoration: underline;
	text-align: center;
	font-size: 1em;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	border: none;
}

.fl-theme-app .paginator li {
	list-style-type: none;
	display: inline;
	margin-left: 2px;
	margin-right: 2px;
	padding: 1px;
	border: 1px solid #a71817;
	border-radius: 3px;
	-moz-border-radius: 3px;
	z-index: 10;
}

/*li.hover use for IE*/
.fl-theme-app .paginator li:hover,
.fl-theme-app .paginator li.hover {
	background-color: #fff6eb;

}


.fl-theme-app .paginator li.currentpage {
	border: 1px solid #a71817;
	background-color: #a71817;
}


.fl-theme-app .paginator li.currentpage input {
	color: white;
}



