
.fl-theme-app .small {
	font-size: 0.8em;
}
.fl-theme-app .app-body {
min-height:600px;
}
.fl-theme-app fieldset {
border: 1px solid black;
margin: 0.2em;
padding: 1em;
}
.dr-pnl-b {
	background-color:#F1F1F1;
}

.fl-theme-app .app-body .dr-toolbar-int a {
color:white;
}

.fl-theme-app .app-body .app-navigation ul li ul li {
	white-space: nowrap;
}

ul li {
	list-style: circle;
	
}
ul li li {
	list-style: disc;
	
}
.fl-theme-app .sections {
	width:80%;
}

.fl-theme-app .sections ul li {
	list-style-position: inside;
}
.fl-theme-app input {
	overflow: hidden;
}
.fl-theme-app .app-body a {
    color: #A71817;
}

.fl-theme-app .app-body a {
    text-decoration: underline;
}