/*----------------------------------------
		Charte graphique
 
couleur primaire : rouge : #a71817

Couleur secondaire : gris #CCCCCC
declianison 1 : #666666 (plus fonce)
declinaison 2 : #b7b6b6 (fonce)
declianison 3 : #e6e6e6
declinaison 4 : #f9f9f9 (tres tres clair)
couleur tertiaire : orange : #f28d00
declianison 1 : #fff6eb (tres clair)

autres : preconiser declinaison a partir de la couleur secondaire.


--------------------------------------------------------------*/


/* 
------------------------------------
  Application specific CSS.
------------------------------------ 
 * uPortal is namespaced with "up", a class of the <body> tag.
 */ /* Page */
html {
	background-color: #ffffff;
}

/* Portal Page Bar */
.fl-theme-app .app-pagebar {
	background: url("images/fond-menu.gif");
}

.fl-theme-app .app-pagebar h2 {
	
}

.fl-theme-app .app-pagebar-links a {
	
}

.fl-theme-app .app-pagebar-links a:hover {
	
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item input {
	color: #303030;
	background: transparent;
	font-size: 1em;
	border-style: none;
	cursor: pointer;
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item-selected input {
	background: transparent;
	font-size: 1em;
	color: #a71817;
	border-style: none;
	cursor: pointer;
}

.fl-theme-app ul.app-pagebar li.hover {
	background-color: transparent;
}

.fl-theme-app ul.app-pagebar li.hover input {
	font-size: 1em;
	background: transparent;
	color: #a71817;
	text-decoration: underline;
	border-style: none;
	cursor: pointer;
	background-color: transparent;
}

/* Header */
.fl-theme-app .app-header {
	padding-left: 3px;
	height: 80px;
}

.fl-theme-app .app-header .logo {
	background-repeat: no-repeat;
	background-image: url("images/logo-header.png");
	left: 25px;
	top: 10px;
	height: 65px;
	width: 150px;
}

.fl-theme-app .app-header .header_suite {
	left: 15%;
	width: 85%;
	height: 80px;
}

.fl-theme-app .app-header .header_suite .span_titre {
	color: #000000;
}

.fl-theme-app .app-header .header_suite .titreAppli {
	width: 85%;
	padding-top: 20px;
}

.fl-theme-app .app-header .header_suite .titreAppli .span_bigTitre {
	color: #000000;
	font-size: 1.8em;
	font-weight: bold;
}

.fl-theme-app .app-header .header_suite .titreAppli .span_titre {
	color: #000000;
	font-size: 1em;
}

.fl-theme-app .app-header .header_suite .span_currentUser {
	color: #000000;
	font-size: 1.2em;
	font-weight: bold;
}

.fl-theme-app .app-header .header_suite .span_version {
	color: #000000;
	font-size: 1em;
	width: 49%;
	left: 50%;
	top: 65%;
}

.fl-theme-app .app-pagebar img {
	margin: 15px 15px 0px 35px;
}

.fl-theme-app .app-logo {
	
}

/* Welcome
 Keep the top value relative to the text size so that the top position remains good when the browser text size is increased. 
 Set the left width to the width of your logo (plus logo margins).
 This margin prevents it from colliding with the logo if the browser window is shrunk down. 
*/
.fl-theme-app .app-welcome {
	top: 3.5em;
	left: 220px;
}

.fl-theme-app .app-welcome {
	color: #ddd;
}

.fl-theme-app .app-welcome a {
	color: #9999FF;
}

.fl-theme-app .app-welcome a:hover {
	color: #ff6600;
}

.fl-theme-app .app-welcome h1 {
	color: #fff;
}

/* Navigation */
.fl-theme-app .app-navigation {
	
}

.fl-theme-app .app-navigation .fl-tabs,.fl-theme-app .app-navigation .fl-tabs li,.fl-theme-app .app-navigation .fl-tabs li a
	{
	display: inline-block;
	z-index: 0;
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
}

.fl-theme-app .app-navigation .fl-tabs {
	margin-left: 220px;
	text-align: left;
	border: none;
}

.fl-theme-app .app-navigation .fl-tabs li a {
	display: inline-block;
	z-index: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: 1px solid #000;
	border-bottom: 1px solid #000099;
}

.fl-theme-app .app-navigation .fl-tabs li a:hover {
	background: #9999cc url(images/tab_hover.gif) 0 0 repeat-x;
	color: #000;
}

.fl-theme-app .app-navigation .fl-tabs li.fl-tabs-active a.portal-navigation-link,.fl-theme-app .app-navigation .fl-tabs li.fl-tabs-active a.portal-navigation-link:hover
	{
	background: #E6EEFB url(images/tab_selected.gif) top left repeat-x;
	border-bottom-color: #E6EEFB;
}


/** APP-BODY**/
.fl-theme-app .app-body a {
	color: black;
}
.fl-theme-app .app-body a:hover {
	color: #a71817;	
}

.fl-theme-app .app-body hr {
	border-color: #CCCCCC;
	border-style: inset;
}

.fl-theme-app .app-body .app-navigation ul li {
	border-bottom: 1px solid #a4a0a0;
	border-right: 1px solid #a4a0a0;
	background: url("images/fond-menu-dyn.png");
	padding-top: 10px;
}

.fl-theme-app .app-body .app-navigation ul li ul {
	border: 1px solid #a4a0a0;
}

.fl-theme-app .app-body .app-navigation ul li a {
	text-decoration: none;
	font-size: 1em;
	color: #303030;
	background: transparent;
	cursor: pointer;
	border: none;
}

.fl-theme-app .app-body .app-navigation ul li:hover,
.fl-theme-app .app-body .app-navigation ul li.hover
	{ /*background: #bfb8b8;*/
	background: url("images/bg_navigation_hover.png");
}

.fl-theme-app .app-body .app-navigation ul li a:hover {
	color: #a71817;
}

.fl-theme-app .app-body .app-navigation ul li:hover ul,
.fl-theme-app .app-body .app-navigation ul li.hover ul
	{
	background: transparent;
}

.fl-theme-app .app-body .app-navigation ul li ul li {
	background: url("images/bg_navigation.png");
}

.fl-theme-app .app-body .app-navigation ul li ul li a {
	text-align: left;
	padding: 2px;
	padding-left: 3px;
	margin: 0;
	font-size: 1em;
	background: transparent;
	border: none;
	cursor: pointer;
}

/* Body */
.fl-theme-app .app-body {
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
}

.fl-theme-app h1.app-body-title {
	padding: 0.2em 0 0.2em 0.5em;
	font-size: 1em;
	color: #344461;
	font-weight: normal;
	border: none;
}

/* Content */
.fl-theme-app .app-content {
	
}

.fl-theme-app .sections {
	margin: 10px;
	padding: 5px;
	border: 1px solid #a71817;
}

.fl-theme-app .sub_sections {
	border: 1px solid #a71817;
	padding: 4px;
	margin: 10px 5px 5px 5px;
}

.fl-theme-app .section-smallTitle,
.fl-theme-app .app-content h2 {
	font-size: 1em;
	color: #a71817;
	font-weight: bold;
	font-style: italic;
	padding-left: 0.5em;
}

.fl-theme-app .section-header,
.fl-theme-app .app-content h1 {
	font-size: 1.4em;
	color: #f28d00;
	font-weight: bold;
}


/* infos */
.fl-theme-app .app-infos {
	margin: 0 0 0.5em;
	padding: 0em;
	border: 1px solid #1374B1;
}

/* form */
.fl-theme-app .app-form { /*margin: 0 0 0.5em; 
	padding: 0em;
	border: 1px solid #1374B1;*/
	
}

.fl-theme-app .form-input-field,
.fl-theme-app input[type="text"] {
	color: #000000;
	font-size: 1em;
	border: 1px solid #dedede;
}

/* msg */
.fl-theme-app .app-msg-infos { /*margin: 0 0 0.5em; 
	padding: 0em;
	border: 1px solid #0B610B;
	background-color: #A9F5A9;*/
	
}

.fl-theme-app .app-msg-infos h2 {
	color: #0B610B;
}

/* msg */
.fl-theme-app .app-msg-errors {
	margin: 0 0 0.5em;
	padding: 0em;
	border: 1px solid #B40404;
	background-color: #F5A9A9;
}

.fl-theme-app .app-msg-errors h2 {
	color: #B40404;
}

.fl-theme-app .app-txt-label {
	color: #333;
	font-weight: bold;
}

/* Footer */ /* infos */
.fl-theme-app .app-footer {
	color: #000000;
	font-size: 1em;
	text-align: center;
	padding-top: 2px;
	margin: 0;
}

/*
.fl-theme-app .app-footer { text-align:center; color:#3366CC; font-size:80%; }
.fl-theme-app .app-footer a { color:#3366CC; }

/* Fluid Layout Customizer (drag and drop) */
.fl-theme-app .fl-reorderer-movable-hover {
	cursor: move;
}

.fl-theme-app .fl-reorderer-movable-dragging-mouse {
	display: none;
}

.fl-theme-app .fl-reorderer-movable-dragging {
	filter: alpha(opacity =   50);
	opacity: .5
}

.fl-theme-app .fl-reorderer-avatar {
	width: auto;
	filter: alpha(opacity =   50);
	opacity: .5;
}

.fl-theme-app .fl-reorderer-dropMarker {
	height: 200px !important;
	background-color: #99FF99;
	border: 1px dashed #00CC00;
	margin: 1em 0em;
}

.fl-theme-app .drop-warning {
	position: absolute;
	top: 50px;
	left: 10px;
	border: 2px solid red;
	background-color: #ffd7d7;
	display: none;
	padding: 10px;
	margin: 5px;
	z-index: 65535;
}

/* Fluid Pager */
.fl-theme-app .pager-top .disabled,.fl-theme-app .pager-bottom .disabled
	{
	color: #777777;
	border: 0;
	text-decoration: none;
	cursor: default;
}

.fl-theme-app .pager-top .current-page a,.fl-theme-app .pager-bottom .current-page a
	{
	color: #000000;
	border: 0;
	text-decoration: none;
	cursor: default;
}

.fl-theme-app ul.pager-top,.fl-theme-app ul.pager-bottom {
	text-align: right
}

.fl-theme-app ul.pager-top li,.fl-theme-app ul.pager-bottom li {
	list-style-type: none;
	display: inline;
	padding: 5px
}

/* Focus */
:focus {
	outline-width: 0px;
}

.fl-theme-app .fl-reorderer-movable-selected:focus,.fl-theme-app .fl-reorderer-movable-dragging:focus
	{
	outline: 2px solid #39f;
}

/* 
------------------------------------
  Overrides to jQuery UI css.
------------------------------------ 
*/
.ui-widget,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
	{
	font-size: 1em;
}

.ui-tabs .ui-tabs-nav li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

/* jQuery tooltip */
#tooltip {
	background-color: #fffbbf;
	color: #344461;
	border: thin solid #b1c6f2;
}

/*## For use e:dataTable ##*/
.fl-theme-app table.paginatorData th.paginatorData-header {
	color: #a71817;
	background-color: #e6e6e6;
	text-align: center;
	font-weight: normal;
	font-size: 1.05em;
	padding-bottom: 3px;
}

.fl-theme-app table.paginatorData tr.paginatorData-text td {
	background-color: #f9f9f9;
	text-align: center;
	font-weight: normal;
	font-size: 1em;
	color: #202020;
}

.fl-theme-app table.paginatorData tr.paginatorData-alternate td {
	background-color: #e6e6e6;
	text-align: center;
	font-weight: normal;
	font-size: 1em;
	color: #202020;
}

.fl-theme-app .portlet-table-selected {
	background-color: #fff6eb;
	color: #000000;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}

/*## For use panelGrid column ##*/
.fl-theme-app .col2rigthItaVAm {
	font-style: italic;
	font-size: 1em;
}

/*########  PAGINATOR ##########*/
.fl-theme-app .paginator input {
	text-decoration: underline;
	text-align: center;
	font-size: 1em;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	border: none;
}

.fl-theme-app .paginator li {
	list-style-type: none;
	display: inline;
	margin-left: 2px;
	margin-right: 2px;
	padding: 1px;
	border: 1px solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	z-index: 10;
}

/*li.hover use for IE*/
.fl-theme-app .paginator li:hover,.fl-theme-app .paginator li.hover {
	background-color: #fff6eb;
}

.fl-theme-app .paginator li.currentpage {
	border: 1px solid;
}

.fl-theme-app .paginator li.currentpage input {
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

.fl-theme-app .app-body li.paginatorDataList {
	background-color: #ffffff;
	width: auto;
	padding: 0px 10px 0px 10px;
	border: 1px solid #a71817;
	border-radius: 10px 10px;
	-moz-border-radius: 10px;
}

.fl-theme-app .app-body .col6 {
	font-size: 1em;
	font: bold;
	margin-top: 16px;
	color: #a71817;
}

.fl-theme-app .app-body .col5 {
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1px;
	border-left-style: solid;
	border-color: #a71817;
}

.fl-theme-app .app-body .diplomesDataList {
	background-color: #ffffff;
	color: #000000;
	list-style: square;
}

.fl-theme-app .text-small-italic-ancien {
	color: #000000;
	font-size: 1em;
	font-style: italic;
	margin: 8px;
	text-align: left;
	vertical-align: top;
}

.fl-theme-app .app-body hr.hrInvisible {
	color: #ffffff;
	border: none;
	padding: 0;
	margin: 0;
}

.fl-theme-app .app-body .datesDAcces {
	text-align: right;
	vertical-align: bottom;
	font-size: 1em;
}

.fl-theme-app .app-body .hrAncien {
	color: #e6e6e6;
}

/*-----------------------------------
 *
 * Style popup aide
 */
.fl-theme-app .containerPopup {
	color: #000000;
	font-size: 1em;
	border: 1px solid #f28d00;
	background: #fff6eb;
}

.fl-theme-app .popupMask {
	color: #000000;
	font-size: 1em;
	border: 1px solid #f28d00;
	background: #fff6eb;
}

.fl-theme-app .titrePopupAide {
	font-weight: bold;
	font-size: 1em;
	color: #f28d00;
}

.fl-theme-app .libellesAide {
	font-size: 1em;
}

.fl-theme-app .sousTitrePopupAide {
	font-weight: bold;
	font-size: 1em;
	color: #4848B7;
}

/*####   Section for E:MESSAGES ########*/
.fl-theme-app .messageForUser .msg-error {
	padding: 2px;
	font-weight: bold;
	border: 1px solid #a71817;
	border-bottom: 0.5px solid #a71817;
	border-top: 0.5px solid #a71817;
	color: #a71817;
	text-align: center;
}

.fl-theme-app .messageForUser .msg-header-error {
	padding: 2px;
	width: 100px;
	background-color: #a71817;
	border: none;
	color: #ffffff;
}

.fl-theme-app .messageForUser .msg-info {
	padding: 2px;
	border: 1px solid green;
	color: green;
	font-weight: bold;
	text-align: center;
}

/*####   Section for SPAN ########*/
.fl-theme-app .span-text-small {
	color: #000000;
	font-size: 1em;
}

.fl-theme-app .span-text-big {
	color: #000000;
	font-size: 1.05em;
}

.fl-theme-app .span-text-small-italic {
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

/*### BUTTON ###*/
.fl-theme-app input.input_button,.fl-theme-app a.input_button
,.fl-theme-app input[type="button"],.fl-theme-app input[type="submit"] {
	margin: 1px 3px 1px 3px;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-size: 1em;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 2px 6px 3px 6px; /* Links */
}

.fl-theme-app input.input_button:hover,
.fl-theme-app input[type="button"]:hover,
,.fl-theme-app input[type="submit"]:hover {
	background-color: #dddddd;
	border: 1px solid #cccccc;
}

.fl-theme-app input.input_button:active,
.fl-theme-app input[type="button"]:active,
,.fl-theme-app input[type="submit"]:active {
	background-color: #dddddd;
	border: 1px solid #ffffff;
}

/*use by js method highlightInputAndSelect*/
.fl-theme-app .form-input-field-focus,
.fl-theme-app input[type="text"]:focus {
	color: #000000;
	font-size: 1em;
	border: 1px solid #dedede;
	background-color: #fff6eb;
}

.fl-theme-app .form-field-label,
.fl-theme-app label {
	/*width: 10em;*/
	text-align: right;
	color: #000000;
	font-size: 1em;
	font-weight: bold;
}

.fl-theme-app .etoileForChpObli {
	color: #a71817;
	font-size: 1em;
}

.fl-theme-app .select_focus {
	color: #000000;
	font-size: 1em;
	border: 1px solid #dedede;
	background-color: #fff6eb;
}

/*-----------------------------------
 *
 * Style popup aide
 */
.fl-theme-app .containerPopup {
	color: #000000;
	font-size: 1em;
	border: 1px solid #f28d00;
	background: #fff6eb;
}

.fl-theme-app .sousTitrePopupAide {
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	color: #4848B7;
}

/*##  Section BLOCK (DIV) ##*/ /*##  Section Sections ##*/


/* link */
.fl-theme-app .link {
	cursor: pointer;
	font-size: 1em;
	color: #000000;
	text-decoration: underline;
}

.fl-theme-app .link:hover {
	cursor: pointer;
	font-size: 1em;
	color: #a71817;
	text-decoration: underline;
}
.fl-theme-app .app-content .app-tab-active,
.fl-theme-app .app-content .app-tab-inactive  {
    background: url('images/tab-bg.png') center top repeat-x transparent;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    color: #000;
    cursor: default;
    text-align: center;
    text-decoration: none;
    font-size:10px;
    font-weight: none;
}

.fl-theme-app .app-content .app-tab-inactive  {
}

.fl-theme-app .app-content .app-tab-active:hover,
.fl-theme-app .app-content .app-tab-inactive:hover  {
    text-decoration: none;
}

.fl-theme-app .app-content .app-tab-active {
    border-bottom: none;
}

.fl-theme-app .app-content .app-tab-content {
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
}
.fl-theme-app input {
	overflow: hidden;
}