.fl-theme-app {
	min-width: 800px;
}

/* Header */
.fl-theme-app .app-header {
	position: relative;
}

.fl-theme-app .app-header div.logo {
	position: absolute;
}

.fl-theme-app .app-header div.header_suite {
	position: relative;
}

.fl-theme-app .app-header div.header_suite div.titreAppli {
	text-align: center;
}

.fl-theme-app .app-header div.header_suite div.user_displayName {
	width: 49%;
	left: 50%;
	top: 40%;
	text-align: right;
	position: absolute;
}

.fl-theme-app .app-header div.header_suite div.version {
	width: 49%;
	left: 50%;
	top: 65%;
	text-align: right;
	position: absolute;
}

/* Portal Page Bar */
.fl-theme-app ul.app-pagebar {
	text-align: center;
	vertical-align: bottom;
	list-style: none;
	margin: 0;
	padding: 0;
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item {
	display: inline;
	border-spacing: 0;
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item input {
	width: 24%;
	margin: 0;
	padding: 0;
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item-selected {
	display: inline;
	border-spacing: 0;
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item-selected input {
	width: 24%;
	margin: 0;
	padding: 0;
}

.fl-theme-app ul.app-pagebar li.hover {
	display: inline;
}

.fl-theme-app ul.app-pagebar li.hover input {
	width: 24%;
	margin: 0;
	padding: 0;
}

/* Body */
.fl-theme-app div.app-body {
	min-height: 400px;
	list-style: none;
}

/* Navigation */
.fl-theme-app div.app-body div.app-navigation {
	position: relative;
	float: left;
	z-index: 100;
	width: 13%;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation li {
	position: relative;
	display: block;
	height: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation ul li ul {
	position: absolute;
	width: 250px;
	left: 100%;
	top: -1px;
	height: auto;
	display: none;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation ul li a {
	display: block;
}

.fl-theme-app div.app-body div.app-navigation ul li:hover ul,
.fl-theme-app div.app-body div.app-navigation ul li.hover ul {
	display: block;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation ul li ul li {
	position: relative;
	display: block;
	border: 0;
	height: 20px;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
}

/* Content */
.fl-theme-app div.app-body div.app-content {
	position: relative;
	float: right;
	z-index: 0;
	width: 86%;
	min-height: 400px;
	margin: 0;
	padding: 0;
	padding-right: 1%;
}

/*## For use e:dataTable ##*/
.fl-theme-app table.paginatorData {
	width: 100%;
	border: none;
	padding: 0 0 2px 0;
	text-align: center;
	border-spacing: 2px;
}

/*## For use panelGrid column ##*/
.fl-theme-app .col1UnDemi {
	width: 50%;
	text-align: left;
}

.fl-theme-app .col2UnDemi {
	width: 50%;
	text-align: right;
}

.fl-theme-app .col2rigthItaVAm {
	width: 100%;
	text-align: right;
	align: right;
	vertical-align: middle;
}

/*########  PAGINATOR ##########*/
.fl-theme-app div.paginator {
	clear: both;
}

.fl-theme-app div.paginator div.itemsNumbers {
	float: left;
	padding: 5px;
	width: 22%;
}

.fl-theme-app div.paginator div.navigation {
	float: left;
	text-align: center;
	width: 55%;
	/*utilise dans le cas ou ce div serait vide : permet de conserver sa taille*/
	border: 1px solid transparent;
}

.fl-theme-app div.paginator ul {
	margin: 0;
	padding: 2px;
}

.fl-theme-app div.paginator li {
	list-style-type: none;
	display: inline;
	margin-left: 2px;
	margin-right: 2px;
	padding: 1px;
	border: 1px solid #a71817;
	z-index: 10;
}

/*li.hover use for IE*/
.fl-theme-app div.app-body .col1 {
	width: 5%;
}

.fl-theme-app div.app-body .col2 {
	width: 25%;
}

.fl-theme-app div.app-body .col3 {
	width: 70%;
}

.fl-theme-app div.app-body .MinWid200Vatop {
	align: center;
	vertical-align: top;
	padding: 8px;
	min-width: 200px;
	width: 15%;
}

.fl-theme-app div.app-body .VAtop {
	align: left;
	height: 100%;
	vertical-align: top;
}

.fl-theme-app div.app-body .w25pc {
	width: 25%;
}

.fl-theme-app div.app-body .col6 {
	padding: 0;
	margins: 0;
	width: 200px;
}

.fl-theme-app div.app-body .col5 {
	align: center;
	vertical-align: top;
	padding: 8px;
}

.fl-theme-app div.app-body .col7 {
	width: 500px;
}

.fl-theme-app div.app-body .MinWid100Vatop {
	align: center;
	vertical-align: top;
	padding: 8px;
	min-width: 100px;
	max-width: 40%;
}

.fl-theme-app .w400Ml12px {
	width: 400px;
	margin-left: 12px;
}

.fl-theme-app .delUpdButtons {
	width: 50px;
	margin-left: 5px;
	border: none;
	padding: 7px;
	align: right;
}

.fl-theme-app div.app-body .paginatorDataList img {
	height: 100px;
	border-width: 5px;
	border-color: #f9f9f9;
	border-style: solid;
	margin: 4px;
	margin-bottom: 0;
}

.fl-theme-app div.app-body .detailedDataList {
	list-style: none;
	border: none;
	vertical-align: top;
	margin-left: 5px;
	text-align: left;
	border: none;
}

.fl-theme-app .li-emploi-title {
	display: inline;
}

.fl-theme-app .listeEmploi {
	margin: 1px;
	margin-left: 30px;
	padding: 4px 4px 4px 4px;
}

.fl-theme-app .listePosi {
	list-style: none;
	margin-bottom: 20px;
	width: 100%;
}

.fl-theme-app .listePosi table {
	width: 100%;
}

.fl-theme-app .positionmargin {
	margin-left: 30px;
}

.fl-theme-app .deleteEmploiButton {
	text-align: right;
	margin-right: 50px;
	float: right;
	vertical-align: middle;
	border-style: none;
	padding: 1px;
}

.fl-theme-app .TArightFloatright {
	text-align: right;
	float: right;
}

.fl-theme-app .manylistboxheight {
	height: 100px;
	vertical-align: top;
}

.fl-theme-app .maxSelectW {
	width: 400px;
}

.fl-theme-app .chosen {
	margin: 10px;
}

.fl-theme-app .hiddenCol {
	visibility: hidden;
}

/*-----------------------------------
 *
 * Style popup aide
 */
.fl-theme-app .containerPopup {
	margin-bottom: 1px;
	margin: 10px;
	vertical-align: middle;
	padding: 8px;
	width: 500px;
	z-index: 9000;
}

.fl-theme-app div.popupMask {
	opacity: 1;
	filter: alpha(opacity = 100);
	height: 100px;
	left: 45%;
	top: 40%;
	position: absolute;
	width: 200px;
	text-align: center;
	margin-bottom: 1px;
	margin: 10px;
	vertical-align: middle;
	padding: 8px;
	z-index: 9000;
}

.fl-theme-app .titrePopupAide,
.fl-theme-app .libellesAide,
.fl-theme-app .sousTitrePopupAide {
	text-align: left;
	display: table-cell;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}

/*####   Section for E:MESSAGES ########*/
.fl-theme-app div.messageForUser ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.messageForUser .msg-error,
.fl-theme-app div.messageForUser .msg-header-error,
.fl-theme-app div.messageForUser .msg-info {
	display: block;
	
}

/*####   Section FORM ########*/
/*use by js method highlightInputAndSelect*/
.fl-theme-app .form-input-field-focus,
.fl-theme-app .select_focus {
	width: auto;
}

/*-----------------------------------
 *
 * Style popup aide
 */
.fl-theme-app .containerPopup {
	margin-bottom: 1px;
	margin: 10px;
	vertical-align: middle;
	padding: 8px;
	width: 500px;
	z-index: 9000;
}

.fl-theme-app .titrePopupAide {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	display: table-cell;
	display: inline-block;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	color: #f28d00;
}

.fl-theme-app .libellesAide {
	text-align: left;
	text-decoration: none;
	display: table-cell;
	display: inline-block;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}

.fl-theme-app .sousTitrePopupAide {
	display: table-cell;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

/*##  Section BLOCK (DIV) ##*/ /*##  Section Sections ##*/
.fl-theme-app .section-header {
	margin-left: 30px;
}

.fl-theme-app div.width_max_textRight {
	width: 100%;
	text-align: right;
}

/* profil */
.fl-theme-app div.app-body li.profile_data {
	display: inline-block;
	margin: 0;
	z-index: 0;
	width: 65%;
	vertical-align: top;
}

.fl-theme-app div.app-body li.profile_photo {
	display: inline-block;
	margin: 0;
	z-index: 0;
	width: 30%;
	vertical-align: top;
	text-align: center;
}

.fl-theme-app div.app-body li.profile_account {
	display: inline-block;
	margin: 0;
	z-index: 0;
	width: 20%;
	vertical-align: top;
}

.fl-theme-app div.app-body li.profile_address {
	display: inline-block;
	margin: 0;
	z-index: 0;
	width: 49%;
	vertical-align: top;
}

.fl-theme-app .centered {
	margin: 0 auto;
}